body.kunai {
  nav[role="navigation"] {
    .navbar-header {
      .navbar-brand {
        .title {
          &:after {
            content: "[kunai-testing]";

            position: absolute;
            top: 10px;
            right: 10px;
            line-height: 1.5;
            font-size: 14px;
            display: block;
            width: 10em;

            font-weight: bold;
            $c: rgb(240, 36, 54);
            background: color($c alpha(0.2));
            border: 3px dashed color($c alpha(0.6));
            box-sizing: border-box;
            color: rgba(20, 20, 20, 0.6);
            padding: .2em .4em;
            margin-left: 1em;

            z-index: 999999;
          }
        }
      }
    }
  }
}


