// body {
  // font-size: 14px;
  // margin: 0;
  // padding: 2rem 2.5rem;
  // background: #f8f8f8;
// }

body.kunai {
  nav[role="navigation"] {
    .navbar-header {
      .navbar-brand {
        .title {
          &:after {
            content: "[kunai-testing]";
            font-weight: bold;
            background: #F02436;
            color: #FFF;
            padding: .2em .4em;
            margin-left: 1em;
          }
        }
      }
    }
  }
}


