// body {
  // font-size: 14px;
  // margin: 0;
  // padding: 2rem 2.5rem;
  // background: #f8f8f8;
// }

body.kunai {
  nav[role="navigation"] {
    .navbar-header {
      .navbar-brand {
        .title {
          &:after {
            content: "[kunai-testing]";

            position: absolute;
            top: 10px;
            left: 40%;
            line-height: 1.5;
            font-size: 14px;
            display: block;

            height: 0;
            overflow: hidden;
            padding-top: 1em;

            font-weight: bold;
            background: rgba(240, 36, 54, 0.8);
            color: #FFF;
            padding: .2em .4em;
            margin-left: 1em;
          }
        }
      }
    }
  }
}


