# http://browserl.ist/?q=last+2+major+versions
last 2 major versions

# Desktop
# last 3 Chrome major versions
# last 3 Firefox major versions
# last 3 Edge major versions

# Mobile
# last 3 ChromeAndroid major versions
# last 3 FirefoxAndroid major versions
# last 2 iOS major versions

