div[itemtype="http://schema.org/Article"] {
  display: flex;
  flex-direction: column;

  color: #333;
  margin: 0;
  padding: 0;

  flex-basis: auto;

  line-height: 1.5;

  position: relative;

  > .row {
    &:nth-child(2) {
      order: -12;

      display: flex;
      flex-direction: column;
    }
    &:nth-child(1) {
      order: -11;
    }
    &:nth-child(3) {
      order: -10;
    }
    &:nth-child(4) {
      order: -9;
      flex-grow: 1;
    }
  }

  ul {
    margin: .6rem 0 .6rem 0;
  }

  h2, h3, h4, h5, h6 {
    font-weight: 500;
  }

  h2 {
    font-size: 2rem;
    margin: 1.8rem 0 1rem 0;
  }

  h3 {
    font-size: 1.6rem;
    margin: 1rem 0 .4rem 0;

    + ul {
      margin-top: .2rem;
    }
  }

  code {
    font-family: monospace;
    font-size: .9rem;
    background-color: #EFEFEF;
    color: #232323;

    display: inline-block;
    margin: 0 .25em;
    padding: 0 .25em;
  }

  a:hover code {
    text-decoration: underline;
  }

  .edit-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-family: sans-serif;

    // br {
      // display: none;
    // }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    p {
      margin: .3rem .5rem;
      padding: 0;
    }

    .text-right {
      display: inline-flex;
      text-align: right;
    }

    .history, .edit {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: .1em .2em;

      &:hover {
        text-decoration: none;
      }
    }

    .history {
      border-radius: 4px;
      border: 1px solid #999;
      margin-right: .5em;
    }

    .edit {
      border-radius: 4px;
      border: 1px solid #999;
    }
  }


  .syntax pre .err {
    border: none;
  }

  .content-body {
    position: relative;
    padding: 0 1.6rem 2.5rem 1.6rem;
    background: #FFF;

    overflow: visible;
    margin: 0;

    word-break: break-word;

    $cl-heading-lighter: #666;
    > .identifier-type {
      float: left;
      font-style: oblique;
      color: #777;
      font-family: serif;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08);
    }
    > .header {
      float: right;
      color: #4e4e4e;
      text-align: left;
      font-family: monospace;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.08);
    }

    h1[itemprop="name"] {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;

      margin: 0;
      padding: .3rem 0 .1rem 0;

      // float workaround :(
      width: 100%;
      box-sizing: border-box;
      padding-right: 2em;

      flex-wrap: wrap;

      color: #333;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);

      span {
        display: block;

        &.namespace, &.class {
          font-family: monospace;
        }

        &.token {
          font-weight: normal;
        }

        &:not(.token) {
          font-size: .5em;
          font-weight: normal;
          color: $cl-heading-lighter;
        }

        &.token:not(:first-child) {
          font-family: monospace;
          overflow-wrap: break-word;
          max-width: 100%;
        }

        &.cpp {
          margin: .5rem 0 0 .5rem;
        }
      }
    }

    h1 {
      font-size: 2rem;
    }

    > h1:first-child {
      margin-top: 0px;
    }
    h2 {
      font-size: 1.8rem;
      border-left: solid 8px skyblue;
      padding-left: 5px;
      border-bottom: solid 2px skyblue;
    }

    h3 {
      font-size: 1.6rem;
    }

    div[itemprop="articleBody"] {
      .codehilite > pre, & > pre {
        overflow-x: auto;
        width: 100%;
        box-sizing: border-box;

        color: #444;
        font-size: .9rem;
        border: 1px solid #CCC;
        padding: .75em .75em;
        border-radius: 6px;

        line-height: 1.5;

        .err {
          border: none;
        }
      }
    }
  }

  > footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    border-radius: 0;
    border: none;
    border-top: 1px solid color($cl-shuri alpha(0.2));

    margin: 0;
    box-sizing: border-box;
    padding: .5rem .75rem;

    position: relative;

    color: #676767;
    background: #f8f8f8;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);

    > .container-fluid {
      display: flex;
      flex-direction: column;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }

  @media (max-width: 414px) {
    .content-body {
      $pad: 1rem;
      padding-left: $pad;
      padding-right: $pad;

      h1 {
        font-size: 1.8rem;
      }

      h2 {
        font-size: 1.6rem;
      }

      h3 {
        font-size: 1.4rem;
      }
    }
  }
}

