@import '../../font-awesome.scss';

@import '~crsearch/css/fa-patch.scss';
@import '~crsearch/css/badge.scss';


main[role="main"] {
  .cpp-sidebar {
    @include cr-badge;
  }

  @include cr-badge-decoration('.cpp-sidebar');

  div[itemtype="http://schema.org/Article"] {
    .content-body {
      @include cr-badge-decoration('span.cpp');

      span.cpp {
        @include cr-badge;
      }
    }
  }
} // main


#navbar-collapse {
  ul.nav {
    li {
      a:before {
        margin-right: .2em;
      }
    }

    li:nth-child(1) {
      a:before {
        @include fa-patch;
        @extend .fa-github;
      }
    }
  }
}

