@import '../../font-awesome.scss';

@import '~crsearch/css/fa-patch.scss';
@import '~crsearch/css/badge.scss';


main[role="main"] {
  .cpp-sidebar {
    @include cr-badge;
  }

  @include cr-badge-decoration('.cpp-sidebar');

  div[itemtype="http://schema.org/Article"] {
    .content-body {
      @include cr-badge-decoration('span.cpp');

      span.cpp {
        @include cr-badge;

        &.exposition-only {
          border-color: #666;
          color: #666;
          font-style: italic;

          i {
            display: none;
          }

          &::before {
            @include fa-patch;
            content: "\f24a"; // fa-sticky-note-o
          }

          &::after {
            content: "説明専用";
          }
        }
      }
    }
  }
} // main

