@import '../variables.css';


html, html.cpprefjp, html.boostjp {
  font-size: 14px;

  body {
    background: #FFF;
    margin: 0;
    padding: 0;
  }

  body > footer {
    text-align: center;
    border-radius: 0;
    border: none;
    border-top: 1px solid color($cl-shuri alpha(0.2));

    min-height: unset;
    margin: 0;
    padding: .5rem .5rem;

    position: relative;
    z-index: 0;

    background: #f8f8f8;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
  }

  button {
    outline: none;
  }

  .google-search {
    width: 250px;
    margin-top: 2px;
  }

  .google-search-result .gsc-control-cse {
    padding: 0px;
    border: 0px;
  }

  .fa {
    @include box-reset;

    &:before, &:after {
      @include box-reset;
    }
  }

  .container-fluid {
    margin: 0;
    padding: 0;
  }

  .row {
    margin: 0;
  }

  .crsearch {
    width: 320px;
    font-size: .9rem;

    input[type="text"] {
      font-family: monospace;
      font-size: .9rem;
      color: #232323;
    }

    @media (max-width: 768px) {
      width: 90vw;
      margin-bottom: .2rem;
    }
  }

  main[role="main"] {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > .container-fluid > .row {
      display: flex;
      flex-direction: row;

      @media (max-width: 768px) {
        & {
          flex-direction: column;
        }
      }

      width: 100%;
      margin: 0;

      @media (min-width: 768px) {
        & {
          flex-direction: row-reverse;
        }
      }
    }
  }
}

small {
  font-size: .85rem;
}

a {
  color: $cl-link;

  &:link, &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    color: $cl-link-hover;
  }
}

code {
  border-radius: 0;
}

code {
  color: #000000;
}

a code {
  color: #428bca;
}

