@import '../variables.css';


html, html.cpprefjp, html.boostjp {
  font-size: 14px;

  body {
    background: #FFF;
    margin: 0;
    padding: 0;
  }

  body > footer {
    overflow: hidden;

    text-align: center;
    border-radius: 0;
    border: none;
    border-top: 1px solid color($cl-shuri alpha(0.2));

    min-height: unset;
    margin: 0;
    padding: .5rem .5rem;

    position: relative;
    z-index: 0;

    color: #676767;
    background: #f8f8f8;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
  }

  button {
    outline: none;
  }

  .fa {
    @include box-reset;

    &:before, &:after {
      @include box-reset;
    }
  }

  .container-fluid {
    margin: 0;
    padding: 0;
  }

  .row {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
  }
}

small {
  font-size: .85rem;
}

a {
  color: $cl-link;

  &:link, &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    color: $cl-link-hover;
  }
}

code {
  border-radius: 0;
}

code {
  color: #000000;
}

a code {
  color: #428bca;
}

