@import '../variables.css';


$toggle-size: 2.5rem;

nav[role="navigation"] {
  background: $nav-bg;

  display: flex;

  margin: 0;

  font-size: 1.2rem;

  a {
    color: #777;
    font-family: sans-serif;

    &:hover {
      text-decoration: none;
    }
  }

  .container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .navbar-brand {
    margin: 0;
    padding: 0;
    float: none;
    display: flex;
    // flex-grow: 1;

    line-height: 1;

    > .title-wrapper {
      display: flex;
      flex-basis: 100%;
      align-items: center;

      &:before {
        content: "";
        display: inline-block;
        overflow: hidden;
        height: 0;
        padding: 32px 32px 0 0;
        margin: 0 4px 0 0;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23226e81;}.cls-2{fill:%2339a4eb;}%3C/style%3E%3C/defs%3E%3Ctitle%3Ecpprefjp-icon-v1.0%3C/title%3E%3Cg id='shuriken-fly'%3E%3Cpath class='cls-1' d='M173.71,235.36,118.43,220a560.76,560.76,0,0,0,46.89-72,561,561,0,0,0,41-94.6l55.28,15.4a478.61,478.61,0,0,0-87.85,166.58Z'/%3E%3Cpath class='cls-1' d='M281,160.66l-15.4,55.28a560.76,560.76,0,0,0-72-46.89,561,561,0,0,0-94.6-41l15.4-55.28a478.84,478.84,0,0,0,70.78,47.8A479.2,479.2,0,0,0,281,160.66Z'/%3E%3Cpath class='cls-2' d='M121.5,344.56c-66.51-45-58.3-123.07,18.33-174.37q5-3.33,10.16-6.39a230.67,230.67,0,0,0-36.59,19.84C36.77,234.94,28.57,313,95.08,358c63.63,43.05,172.6,40.22,249-5C270.56,384.84,178.1,382.85,121.5,344.56Z'/%3E%3Cpath class='cls-1' d='M333,458.62l-71.55-14.29A713,713,0,0,0,314,348.62,713.31,713.31,0,0,0,357,224.8l71.55,14.29A608.52,608.52,0,0,0,333,458.62Z'/%3E%3Cpath class='cls-1' d='M461.9,353.74l-14.29,71.55a712.74,712.74,0,0,0-219.53-95.6l14.29-71.55A608.82,608.82,0,0,0,336.64,312,609.28,609.28,0,0,0,461.9,353.74Z'/%3E%3C/g%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  .navbar-header {
    display: flex;
    position: relative;
    // flex-basis: 100%;
    margin: 0;
    background: $nav-bg;

    align-items: center;

    &:after {
      content: '';
      display: block;
      width: calc($toggle-size + 1rem);
      visibility: hidden;
    }
  }

  .navbar-toggle {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 0;
    margin: 0;
    // margin: 0 .5rem 0 .5rem;
    height: 2.2rem;
    width: $toggle-size;

    background: none;

    // border: 1px solid #AAA;
    border: none;
    border-radius: 6px;

    &:hover, &:focus {
      background-color: initial;
    }

    .sr-only {
      display: none;
    }

    .icon-bar {
      display: block;
      width: 1.5rem;
      height: 2px;
      background: #AAA;
    }
  }
}

