@import './tree.css';

$cl-tree-border: #999;

@define-mixin mini-hr-base {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  flex-basis: 1px;
  margin-bottom: .2rem;
}

@define-mixin mini-hr {
  @mixin mini-hr-base;
  $cl: rgba(210, 220, 240, 0.5);
  background: linear-gradient(to right, transparent, transparent 15%, $cl 30%, $cl 70%, transparent 85%, transparent 100%);
}

@define-mixin mini-right-hr {
  @mixin mini-hr-base;
  $cl: rgba(210, 220, 240, 0.5);
  background: linear-gradient(to right, transparent, transparent 15%, $cl 30%, $cl 70%, $cl 100%);
}

@define-mixin big-hr {
  @mixin mini-hr-base;
  $cl: rgba(210, 220, 240, 0.5);
  background: linear-gradient(to right, transparent, $cl 15%, $cl 85%, transparent 100%);
}


#sidebar, .kunai-sidebar.legacy, main div[itemtype="http://schema.org/Article"] + div {
  background: #fbfbfb;
  position: relative;
}

main[role="main"] .tree:not(.v2) {
  @mixin tree $cl-tree-border;
  display: none;
  flex-shrink: 0;
}

#forceLegacyWrapper {
  display: flex;
  cursor: pointer;
  align-self: flex-end;

  flex-shrink: 0;

  padding: .2em .5em;

  font-weight: normal;

  position: relative;
  top: .15em;
  right: .5em;

  > .notice, > input {
    flex-shrink: 0;
  }

  .notice {
    margin-right: .3em;
  }
}

main[role="main"] .kunai-sidebar.force-legacy {
  overflow-y: scroll;

  #forceLegacyWrapper {
    font-weight: bold;
  }

  .tree:not(.v2) {
    display: flex;
    overflow: visible;
  }
  .tree.v2 {
    display: none;
  }
}

.kunai-sidebar {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;

  a {
    &:link, &:visited {
      color: $cl-link;
    }

    &:hover {
      text-decoration: none;
      color: $cl-link-hover;

      .cr-index ul.keys > li.key:last-child {
        color: $cl-link-hover;
        text-decoration: underline;
      }
    }
  }

  ul, li {
    box-sizing: border-box;
  }

  .cr-index {
    display: flex;
    flex-basis: 100%;

    > .title {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      max-width: 100%;
    }

    ul.keys, ul.badges {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul.keys {
      align-self: flex-start;
      align-items: center;

      flex-wrap: nowrap;
      white-space: nowrap;

      > li.key {
        max-width: 100%;
        white-space: pre-line;
      }
    }

    ul.badges {
      align-self: center;
      margin-right: 2px;

      > li.badge {
        background: none;
      }
    }
  }
}

.kunai-sidebar > .tree.v2 {
  $cl-text: #222;
  $cl-back: #fbfbfb;
  $cl-link: color(#2a6496 tint(15%) saturation(+ 10%));
  $cl-list-hover: color(#f0f0fd alpha(.9));

  display: flex;
  height: 100%;

  flex-direction: column;
  margin: 0;
  padding: .5rem .1rem .5rem .25rem;
  box-sizing: border-box;

  font-family: sans-serif;
  line-height: 1.5;

  overflow: hidden;

  .kunai-branch {
    margin: .2rem 0 0 0;
    padding: 0;

    $c: rgba(20, 20, 20, 0.1);
    box-shadow: 0px 6px 10px -6px $c inset, 0px -6px 10px -6px $c inset;

    > ul.branch {
      display: flex;
      flex-direction: column;

      // position: relative;

      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        font-size: .9rem;

        box-sizing: border-box;
        padding: .1em 0;

        &:before {
          flex-basis: 1.2em;
        }

        &:not(.expanded) {
          // align-items: center;
          > ul.others, > ul.classes {
            display: none;
          }
        }

        > .expandbar {
          display: inline-flex;
          position: sticky;
          top: -1px;
        }


        &.empty.expanded:after {
          content: "(サブページはありません)";
          display: block;
          position: relative;
          left: 1em;
          bottom: 0;
          color: #ADADAD;
          cursor: help;
          border-bottom: 1px dashed rgba(220, 20, 30, .2);
        }

        > .expandbar > .expander {
          flex-basis: 100%;
          display: inline-flex;
          align-items: center;

          $c: #ADADAD;
          color: $c;

          cursor: pointer;

          &:before {
            content: "\25B6";
            display: block;
            border-radius: 6px;
            width: 1.5em;
            line-height: 1.5em;
            text-align: center;
            // border: 1px solid $c;
          }

          &:after {
            content: "";
            display: block;
            height: 2px;
            border-bottom: 1px solid color($c alpha(0.7));
            flex-basis: 100%;
          }
        }

        &.expanded {
          > .expandbar {
            > .expander {
              &:before {
                transform: rotate(45deg);
              }
            }
          }
        }

        > .expandbar > a {
          flex-basis: auto;
          margin-bottom: 0;
          color: color($cl-link saturation(-20%));
        }

        &:first-child, &:last-child {
          background: rgba(251, 251, 251, 0.91);
        }

        &:not(.top):not(.headers):not(.header):not(.lang):not(.classes):not(.members):not(.class):not(.article):hover {
          background-color: $cl-list-hover;
        }
      }
    }
  }

  ul.stackable {
    display: flex;
    flex-direction: column;

    > li.stack {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      box-sizing: border-box;

      flex-shrink: 0;
      flex-grow: 0;

      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;

      > .heading {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
      }

      &.expanded:not(.empty) {
        $b: #DDD;
        overflow: hidden;
        flex-shrink: 1;

        &:not(:first-child) {
          border-top-color: $b;
        }

        &:not(:last-child) {
          border-bottom-color: $b;
        }

        > .content-wrapper {
          overflow-y: scroll;
        }
      }

      &:not(.expanded) {
        > .content-wrapper {
          display: none;
        }
      }

      &.empty > .heading > .expander:before {
        visibility: hidden;
      }

      > .heading > .expander {
        display: inline-flex;
        align-items: center;
        padding: .1em .3em .1em .1em;

        &:before {
          color: #444;
          transform: rotate(-45deg);
          cursor: pointer;

          display: block;
          line-height: 1;
        }
      }

      > .heading > a.title {
        user-select: none;
        word-break: keep-all;

        padding: .25em 0;
        box-sizing: border-box;
      }

      > .content-wrapper {
        display: flex;
        flex-direction: column;
        // flex-grow: 1;

        > .content {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          position: relative;
        }
      }
    }
  }

  > ul.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    flex-shrink: 0;

    list-style: none;
    padding: 0;
    margin: 0;

    > a {
      display: block;
      color: $cl-link;

      &:hover {
        text-decoration: none;
      }
    }

    > li.top {
      > .heading > a.title {
        font-size: 1.1em;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

        display: inline-flex;
        flex-direction: row-reverse;
        align-items: baseline;

        &:before {
          margin-left: .2em;
        }

        &:not(:last-child):after {
          @mixin big-hr;
        }


        &:not([href]) {
          color: color($cl-text tint(50%));
          text-decoration: none;
          // cursor: help;
          border-bottom: 1px solid transparent;

          /*
          &:hover, &:active {
            border-bottom: 1px dashed rgba(220, 20, 30, .9);
          }
           */
        }
      }
    }
  }
}


.kunai-sidebar > .tree.v2 > ul.root > li.top {
  &:not([data-top-id="lang"]) {
    .kunai-branch > ul.branch.articles {
      > li.article {
        &:before {
          color: #888;
        }

        > a {
        }
      }
    }
  }

  ul.articles > li.article > a,
  ul.classes > li.class > a,
  ul.members > li.member > a,
  ul.others > li.other > a {
    max-width: 100%;
  }

  ul > li.current-page {
    font-weight: bold;
    border: 1px dashed #DDD;
    background-color: #FEFEFE;
  }

  ul.articles {
    > li.article {
      direction: ltr;
      position: relative;

      &:before {
        position: absolute;
        top: .4em;
        left: .2em;

        z-index: 4;
      }

      > a {
        display: block;
        position: relative;
        z-index: 3;

        color: #888;

        padding: .2rem 0 .2rem 1.4em;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  ul.headers {
    font-family: monospace;
    display: flex;
    flex-direction: column;

    > li.header {
      display: flex;
      // position: relative;

      // flex-direction: column;
      // min-height: 4.6em;

      &:not(:first-child) {
        padding-top: 1em;
      }

      .cr-index > .title {
        flex-direction: column;
        justify-content: flex-end;
      }

      &.expanded {

        > .expandbar {
          margin-bottom: .5em;

          // box-shadow: 0 2px 20px -2px rgba(20, 20, 20, 0.3);
          // background-color: #FBFBFB;

          background-color: rgba(220, 220, 240, 0.5);

          > a {
            background: rgba(250, 250, 255, 1);
            font-weight: bold;
          }

          .cr-index {
            ul.badges {
              display: none;
            }
          }
        }
      }

      > .expandbar > a {
        align-self: flex-end;
        // background-color: rgba(100, 100, 100, .03);
        font-size: .9em;

        $c-b: 1px solid color($cl-link saturation(-5%) tint(65%) alpha(0.4));
        border-left: $c-b;
        border-bottom: $c-b;
        border-radius: 4px;

        padding: .1em .25em;
      }
    }
  }

  ul.langs {
    margin: 0;
    padding: 0;

    > li.lang {
      display: flex;
      flex-direction: column;

      > .kunai-branch {
      }

      &:not(:first-child):before {
        @mixin mini-hr;
      }

      > a.title {
        align-self: flex-end;

        font-size: .9em;
        // font-weight: bold;
        font-family: sans-serif;

        border-radius: 4px;
        border: 1px solid #AAA;
        padding: .1em .2em;
        margin: .1rem 0 .25em 0;
        line-height: 1.1;
        box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .2);
      }
    }
  }

  ul.classes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    font-family: monospace;
    font-size: .9em;
    list-style: none;
    width: 100%;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    > li.class {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 1em;
      }

      > .self {
        $c: #87ceeb;
        border-left: 4px solid $c;
        border-bottom: 1px dashed color($c alpha(0.7));
        margin-bottom: .5em;
        // box-shadow: 0 3px 13px -6px rgba(20, 20, 20, 0.2);

        .cr-index {
          ul.keys {
            max-width: 75%;
            word-break: break-all;

            padding-left: .3em;
          }
        }
      }
    }
  }

  ul.members {
    padding: 0 0 0 1.5em;

    > li.member {
      display: flex;
      white-space: nowrap;
      overflow: hidden;

      > a {
        flex-basis: 100%;
      }

      .cr-index {
        ul.keys {
          > li.key {
            display: inline-flex;
            align-items: baseline;

            word-break: break-all;
            // position: relative;

            &:first-child {
              /* visibility: hidden; */
              display: none;
              width: 2em;
            }

            &:last-child {
              flex-basis: 100%;

            }

            &:not(:first-child):not(:last-child) {
              display: none;
            }
          }
        }
      }
    }
  }

  ul.others {
    display: flex;
    flex-direction: column;

    list-style: none;
    margin: 0;
    padding: 0 0 0 .2em;
    font-size: .9em;

    width: 100%;

    > li.other {
      &:not(:last-child) {
        margin-bottom: .25em;
      }

      > a {
        display: flex;
      }
    }
  }

  ul.others > li.other, ul.classes > li.class {
    .cr-index {
      > .title {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      ul.keys {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // flex-basis: 100%;

        > li.key {
          &:last-child {
            flex-basis: 100%;
            padding: 0 0 0 1.5em;
            box-sizing: border-box;
          }
        }
      }

      ul.badges {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0;

        > li.badge {
          &:not(:last-child) {
            margin-bottom: .2em;
          }
        }
      }
    }
  }

  /* .others の下にある場合、std:: と 関数名を一列で表示する */
  ul.others > li.other {
    .cr-index {
      ul.keys {
        display: inline-block;
        padding-left: 2px;
        > li.key {
          display: inline-block;
          &:last-child {
            padding: 0 0 0 0;
          }
        }
      }
    }
  }
}

.kunai-sidebar > .tree.v2 > ul.root > li.top {
  &[data-top-id="reference"], &[data-top-id="article"], &[data-top-id="editors_doc"] {
    .kunai-branch {
      box-shadow: none;
    }
  }

  &[data-top-id="reference"] {
    > .kunai-branch {
      > ul.branch {
        margin-bottom: .5em;
      }

      &[data-branch-for="headers"] {
        order: 3;
        margin-bottom: 2em;
        max-height: 70vh;
      }
      &[data-branch-for="articles"] {
        order: 4;
      }
    }

    > ul.articles {
      > li.article {
        display: flex;
        flex-direction: row;
        align-items: center;

        > a {
          padding-left: 0;

          &:before {
            color: #888;
          }
        }
      }
    }
  }
}

