/* Note: The tooltip element will be directly added to the top level of <body> */
#kunai-ui-tooltip {
  text-decoration: none!important; font-weight: normal!important; font-style: normal!important;
  width: max-content; max-width: 40em;
  border: 1px solid black; padding: 0.2rem 0.4rem; margin: 0;
  background-color: white; color: black; text-decoration: none; font-size: 0.9rem;
  position: fixed; box-shadow: 2px 2px 2px 0 rgba(128, 128, 128, 0.6);
  cursor: default;
  opacity: 0; z-index: -1;
  transition: opacity .3s linear .5s, z-index 0s linear .8s;
}
#kunai-ui-tooltip:before {
  content: attr(data-desc);
}
#kunai-ui-tooltip.kunai-ui-tooltip-revealed {
  opacity: 1; z-index: 1000000;
  transition: opacity .3s linear 0s, z-index 0s linear 0s;
}
