@import './variables';
@import '../font-awesome';

html {
  font-size: 14px;
}

body {
  .navbar-brand {
    line-height: 32px;
    padding: 0.5em 15px;
  }
  .navbar-brand > .title-wrapper {
    &:before {
      content: "";
      float: left;
      display: inline-block;
      overflow: hidden;
      height: 0;
      padding: 32px 32px 0 0;
      margin: 0 4px 0 0;
      background-image: url(https://cpprefjp.github.io/static/original-icons/cpprefjp-icon-v1.1-transparent.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    > .title {
      float: left;
      display: inline-block;
    }
  }

  .google-search {
    width: 250px;
    margin-top: 2px;
  }

  .google-search-result .gsc-control-cse {
    padding: 0px;
    border: 0px;
  }

  /*
  .google-search-result .gsc-adBlock {
  display: none !important;
  visibility: hidden !important;
  }
  .google-search-result .gsc-adBlockVertical {
  display: none !important;
  visibility: hidden !important;
  }
   */

  code {
    color: #000000;
  }
  a code {
    color: #428bca;
  }

  .content-body {
    > h1:first-child {
      margin-top: 0px;
    }
    h2 {
      border-left: solid 8px skyblue;
      padding-left: 5px;
      border-bottom: solid 2px skyblue;
    }
  }

  .edit {
    border-radius: 4px;
    border: 1px solid #999;
    margin: 5px;
    padding: 3px;
  }

  .history {
    border-radius: 4px;
    border: 1px solid #999;
    margin: 5px;
    padding: 3px;
  }

  .content-header {
    display: flex;
    padding: 0 1em 0 0;
    margin-bottom: 5px;
    background: #f5f5f5;
    border-radius: 4px;
    align-items: center;
  }

  ol.breadcrumb {
    flex-grow: 1;
    margin-bottom: 0;
    background: none;
    border-radius: 0;
  }
  .footer {
    text-align: center;
  }
  .footer.navbar {
    min-height: 0;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .identifier-type {
    float: left;
  }
  .header {
    float: right;
    text-align: right;
  }

  div[itemtype="http://schema.org/Article"] {
    h1[itemprop="name"] {
      .namespace {
        font-size: 1rem;
      }
      .class {
      }
      .cpp {
        font-size: 1rem;
      }
    } // h1

    pre .err {
      border: none;
    }
    .syntax pre .err {
      border: none;
    }
  } // Article


  .fa {
    @include box-reset;

    &:before, &:after {
      @include box-reset;
    }
  }

  button {
    outline: none;
  }

  .crsearch {
    width: 260px;
  }
} // body


main[role="main"] {
  .tree {
    $cl-border: #999;
    $tree-grid: 1px solid $cl-border;
    $bg-tree: #fbfbfb;
    $plus-size: 1.6rem;
    $indent: 2rem;

    display: flex;
    flex-direction: column;

    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    background-color: $bg-tree;
    border: $tree-grid;
    margin-bottom: 10px;
    // max-height: 300px;
    // min-height: 20px;
    overflow-x: scroll;
    padding: 3px;

    .badge {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;

      font-size: .8em;
      flex-shrink: 1;
      padding: 0 .25em;

      border-radius: 3px;
      color: #666;
      border: 1px solid #BBB;

      margin-left: .4rem;
      margin-right: .1rem;

      &:last-child {
        margin-right: 0;
      }

      &.text-warning {
        &, & a {
          $color: #8a6d3b;
          color: $color;
          border-color: $color;
        }

        &:before {
          @extend .fa;
          @extend .fa-warning;

          margin-right: .2em;
        }
      }
    }

    // 何かしらのバッジっぽいのは多分これに全部引っかかる
    // li > a + span {
      // margin-left: .3rem;
    // }

    .cpp-sidebar {
      $cl-base: #757575;
      @extend .badge;

      a {
        text-decoration: none;
        color: inherit;
      }

      &.cpp11 {
        &, & a {
          color: $cl-base;
        }
      }

      &.cpp14, &.cpp17 {
        &, & a {
          $color: darken($cl-base, 35%);
          color: $color;
          border-color: $color;
        }
      }

      &.cpp20 {
        &, & a {
          font-weight: bold;

          $color: darken($cl-base, 35%);
          color: $color;
          border-color: $color;
        }
      }
    }

    .treespan {
      display: flex;
      align-items: center;
      justify-content: center;

      width: $plus-size;
      height: $plus-size;

      border: $tree-grid;
      border-radius: 5px;

      flex-shrink: 1;

      font-size: 1.1rem;
      line-height: $plus-size;

      margin-right: .4rem;

      color: #333;

      // line-height: 14px;
      // padding: .2rem;

      text-decoration: none;
    }

    a {
      flex-shrink: 1;
      display: block;

      overflow: hidden;
      text-overflow: ellipsis;

      // width: 90%;
    }

    ul, li {
      display: flex;
    }

    ul {
      flex-direction: column;
      flex-basis: 100%;
      padding-left: $indent;
      overflow: hidden;

      position: relative;

      &:before {
        content: "";
        position: absolute;
        display: block;

        border-left: $tree-grid;
        top: 0;
        left: $plus-size / 2;
        width: $plus-size / 2;
        height: 100%;
      }
    }
    > ul {
      padding-top: .5rem;
      padding-left: 0px;

      &:before, &:after {
        content: none;
        border: none;
      }

      > li {
        &:before, &:after {
          content: none;
          border: none;
        }
      }
    }

    li {
      flex-wrap: wrap;
      align-items: center;

      list-style-type: none;
      margin: 0;
      padding: 0 0 0 .2rem;
      position: relative;

      &:not(:first-child) {
        padding-top: .3rem;
      }

      &:before, &:after {
        position: absolute;
      }

      &:before {
        content: "";
        // border-left: $tree-grid;
        border-bottom: $tree-grid;

        top: 0;
        left: -($indent - ($plus-size / 2));

        width: $indent / 2;
        height: $indent / 2;
      }

      &:last-child {
        &:after {
          content: "";
          width: $indent / 2;
          height: 100%;

          left: -($indent - ($plus-size / 2));
          top: $indent / 2;

          border-left: 1px solid $bg-tree;
        }
      }

      &.parent_li > .treespan {
        cursor: pointer;

        &:hover {
          background-color: #df8505;
          border: 1px solid #c67605;
          color: #fff;

          & ~ ul {
            $hi-color: #f89406;

            &:before {
              border-left-color: $hi-color;
              border-left-width: 2px;
            }

            li:last-child:after {
              border-left-width: 2px;
            }

            > li {
              &:before {
                border-bottom-color: $hi-color;
                border-bottom-width: 2px;
              }
              .treespan {
                background: lighten(#fddfb3, 10%);
                border: 1px solid #faa937;
                color: #000;
              }
            }
          }
        }
      }

      &.parent_li:not(.active) {
        > .treespan:before {
          @extend .fa;
          @extend .fa-fw;
          @extend .fa-plus;
        }

        // jsがオフの時は無条件でツリーを展開
        //   ……しようと思ったけど最速で処理しても
        //       操作性が著しく悪化したので却下
        // body.js & > ul {
        > ul {
          display: none;
        }
      }

      &.parent_li.active {
        > .treespan:before {
          @extend .fa;
          @extend .fa-fw;
          @extend .fa-minus;
        }
      }
    } // .tree li
  } // .tree
} // main

