@import '../font-awesome';

$cl-badge-base: #757575;


@include badge-cpp-legacy {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  font-size: .8em;
  flex-shrink: 1;
  padding: 0 .25em;

  border-radius: 3px;
  color: #666;
  border: 1px solid #BBB;

  margin-left: .4rem;
  margin-right: .1rem;

  a {
    text-decoration: none;
    color: inherit;
  }

  &:last-child {
    margin-right: 0;
  }

  &.text-warning, &.text-danger {
    &:before {
      @extend .fa;
      margin-right: .2em;
    }
  }

  &.text-warning {
    @extend .fa-warning;

    &, & a {
      font-weight: normal;
      $color: #ff9900;
      color: $color;
      border-color: $color;
    }
  }
  &.text-danger {
    @extend .fa-ban;

    &, & a {
      font-weight: bold;
      $color: #8a6d3b;
      color: $color;
      border-color: $color;
    }
  }
}



@include badge-cpp11 {
  @include badge-cpp-legacy;
  &, & a {
    color: $cl-badge-base;
  }
}

@mixin badge-cpp-newer {
  @include badge-cpp-legacy;
  &, & a {
    $color: darken($cl-badge-base, 35%);
    color: $color;
    border-color: $color;
  }
}

@mixin badge-cpp-latest {
  @include badge-cpp-legacy;
  &, & a {
    font-weight: bold;

    $color: darken($cl-badge-base, 35%);
    color: $color;
    border-color: $color;
  }
}


main[role="main"] {
  // 何かしらのバッジっぽいのは多分これに全部引っかかる
  // li > a + span {
  // margin-left: .3rem;
  // }

  .cpp-sidebar {
    &.cpp11, &.cpp11deprecated, &.cpp11removed {
      @include badge-cpp11;
    }
    &.cpp14, &.cpp14deprecated, &.cpp14removed {
      @include badge-cpp-newer;
    }
    &.cpp17, &.cpp17deprecated, &.cpp17removed {
      @include badge-cpp-newer;
    }
    &.cpp20, &.cpp20deprecated, &.cpp20removed {
      @include badge-cpp-latest;
    }
  }
} // main


